/*
I det här dokumentet hittar du all styling.
Du får gärna ändra färger,typsnitt m.m.
*/

/* Påverkar alla element i html-filen, nollställer stylen som kommer från webbläsaren*/
*,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Här är styling som gäller för body elementet  */
body {
  font-family: Helvetica, "sans serif";
  color: #C97CBF; 
}

/* Här är styling som gäller för alla rubriker och texter */
h1 {
  margin: 20px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

p,li {
  font-size: 20px;
  font-weight: 200;
  color: black;
  margin-bottom: 16px;
}

li {
  margin-left: 32px;
}

/* Här finns all styling för knappen */
.button {
  background-color: white;
  color: #C97CBF;
  padding: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #C97CBF;
  display: inline-block;
}

/* Här kan du ändra hur knappen ser ut när du har muspekaren över knappen*/
.button:hover {
  background-color: #C97CBF;
  color: white;
  box-shadow: 0px 0px 15px white;
}

/* Här är styling för header-about-me sektionen */
.header-about-me {
  background-color: #C97CBF;
  padding: 150px 30px;
  color: white;
  text-align: center;
}

/* Här är styling för bilden som ligger i header-about-me sektionen */
.header-about-me img {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* Här är styling för about-me sektionen */
.about-me {
  padding: 100px 30px;
  width: 60%;
  margin: 0 auto;
}

#name-text {
  text-transform: uppercase;
  font-weight: bold;
  margin: 32px 0px;
  color: #C97CBF;
  font-size: 48px;
}

/* Här är styling för footern på sidan */
footer {
  background-color: #C69BC1;
  padding: 150px 300px;
}
